.flair-TEMPhephaestus    width: 65px;    height: 68px;    background-position: -4px -4px;}
.flair-TEMPmedic    width: 24px;    height: 24px;    background-position: -77px -4px;}
.flair-armadillo    width: 24px;    height: 24px;    background-position: -109px -4px;}
.flair-armadillogreen    width: 24px;    height: 24px;    background-position: -141px -4px;}
.flair-armadilloyellow    width: 24px;    height: 24px;    background-position: -173px -4px;}
.flair-armoredskeletonblackv3    width: 24px;    height: 24px;    background-position: -205px -4px;}
.flair-armoredskeletonv3    width: 24px;    height: 24px;    background-position: -237px -4px;}
.flair-armoredskeletonyellowv3    width: 24px;    height: 24px;    background-position: -269px -4px;}
.flair-banshee    width: 34px;    height: 39px;    background-position: -301px -4px;}
.flair-banshee2    width: 34px;    height: 39px;    background-position: -343px -4px;}
.flair-banshee2v2    width: 34px;    height: 39px;    background-position: -385px -4px;}
.flair-bansheev2    width: 34px;    height: 39px;    background-position: -427px -4px;}
.flair-barrel    width: 27px;    height: 27px;    background-position: -469px -4px;}
.flair-bat    width: 24px;    height: 24px;    background-position: -504px -4px;}
.flair-batblack    width: 24px;    height: 24px;    background-position: -536px -4px;}
.flair-batgreen    width: 24px;    height: 24px;    background-position: -568px -4px;}
.flair-batminiboss    width: 36px;    height: 24px;    background-position: -600px -4px;}
.flair-batminibossyellow    width: 36px;    height: 24px;    background-position: -77px -36px;}
.flair-batred    width: 24px;    height: 24px;    background-position: -644px -4px;}
.flair-beastmaster    width: 27px;    height: 27px;    background-position: -121px -36px;}
.flair-beetle    width: 32px;    height: 23px;    background-position: -156px -36px;}
.flair-beetle2    width: 32px;    height: 23px;    background-position: -196px -36px;}
.flair-beetle2v2    width: 32px;    height: 23px;    background-position: -236px -36px;}
.flair-beetlev2    width: 32px;    height: 23px;    background-position: -504px -36px;}
.flair-bell    width: 35px;    height: 34px;    background-position: -544px -36px;}
.flair-bishop    width: 18px;    height: 32px;    background-position: -587px -36px;}
.flair-bishopred    width: 18px;    height: 32px;    background-position: -613px -36px;}
.flair-blademaster    width: 41px;    height: 28px;    background-position: -77px -76px;}
.flair-blooddrum    width: 26px;    height: 28px;    background-position: -639px -36px;}
.flair-bomb    width: 24px;    height: 24px;    background-position: -126px -72px;}
.flair-bossmaster    width: 26px;    height: 31px;    background-position: -158px -72px;}
.flair-cauldroncoals    width: 24px;    height: 24px;    background-position: -192px -72px;}
.flair-cauldroncoalsmimic    width: 24px;    height: 24px;    background-position: -224px -72px;}
.flair-cauldronice    width: 24px;    height: 24px;    background-position: -256px -72px;}
.flair-cauldronicemimic    width: 24px;    height: 24px;    background-position: -288px -72px;}
.flair-charmfrost    width: 21px;    height: 25px;    background-position: -320px -72px;}
.flair-charmgluttony    width: 25px;    height: 33px;    background-position: -349px -72px;}
.flair-charmnazar    width: 19px;    height: 29px;    background-position: -382px -72px;}
.flair-charmprotection    width: 17px;    height: 27px;    background-position: -409px -72px;}
.flair-charmrisk    width: 19px;    height: 27px;    background-position: -434px -72px;}
.flair-charmstrength    width: 20px;    height: 26px;    background-position: -461px -72px;}
.flair-chest    width: 24px;    height: 24px;    background-position: -489px -72px;}
.flair-chestblack    width: 24px;    height: 24px;    background-position: -639px -72px;}
.flair-chestlocked    width: 24px;    height: 24px;    background-position: -4px -104px;}
.flair-chestwhite    width: 24px;    height: 24px;    background-position: -36px -104px;}
.flair-clone    width: 24px;    height: 24px;    background-position: -126px -104px;}
.flair-clonearia    width: 24px;    height: 24px;    background-position: -192px -104px;}
.flair-clonebard    width: 24px;    height: 24px;    background-position: -224px -104px;}
.flair-clonebolt    width: 24px;    height: 24px;    background-position: -256px -104px;}
.flair-clonemonk    width: 24px;    height: 24px;    background-position: -288px -104px;}
.flair-coralriffdrums    width: 41px;    height: 55px;    background-position: -587px -76px;}
.flair-coralriffdrums2    width: 41px;    height: 55px;    background-position: -4px -139px;}
.flair-coralriffhead    width: 43px;    height: 60px;    background-position: -53px -139px;}
.flair-coralriffhorns    width: 36px;    height: 58px;    background-position: -104px -139px;}
.flair-coralriffhorns2    width: 36px;    height: 58px;    background-position: -148px -139px;}
.flair-coralriffkeytar    width: 26px;    height: 55px;    background-position: -489px -104px;}
.flair-coralriffkeytar2    width: 26px;    height: 55px;    background-position: -523px -104px;}
.flair-coralriffstrings    width: 45px;    height: 56px;    background-position: -192px -139px;}
.flair-coralriffstrings2    width: 45px;    height: 56px;    background-position: -245px -139px;}
.flair-crate    width: 24px;    height: 24px;    background-position: -636px -104px;}
.flair-deadringer    width: 38px;    height: 39px;    background-position: -298px -139px;}
.flair-deadringercharge    width: 50px;    height: 43px;    background-position: -344px -139px;}
.flair-deathmetalv2    width: 88px;    height: 53px;    background-position: -557px -139px;}
.flair-deathmetalv4    width: 88px;    height: 53px;    background-position: -298px -200px;}
.flair-diamonddealer    width: 26px;    height: 24px;    background-position: -402px -136px;}
.flair-doublehearttransplant    width: 24px;    height: 24px;    background-position: -436px -136px;}
.flair-dragonblue    width: 61px;    height: 51px;    background-position: -394px -200px;}
.flair-dragongreen    width: 54px;    height: 51px;    background-position: -463px -200px;}
.flair-dragonred    width: 61px;    height: 51px;    background-position: -525px -200px;}
.flair-fakewallv3    width: 24px;    height: 55px;    background-position: -594px -200px;}
.flair-feetballetshoes    width: 24px;    height: 24px;    background-position: -626px -200px;}
.flair-feetbootsexplorers    width: 24px;    height: 24px;    background-position: -4px -232px;}
.flair-feetbootslead    width: 24px;    height: 25px;    background-position: -36px -232px;}
.flair-feetbootsleaping    width: 24px;    height: 24px;    background-position: -68px -232px;}
.flair-feetbootslunging    width: 15px;    height: 24px;    background-position: -276px -36px;}
.flair-feetbootspain    width: 24px;    height: 24px;    background-position: -100px -232px;}
.flair-feetbootsspeed    width: 24px;    height: 24px;    background-position: -132px -232px;}
.flair-feetbootsstrength    width: 24px;    height: 24px;    background-position: -164px -232px;}
.flair-feetbootswinged    width: 24px;    height: 24px;    background-position: -196px -232px;}
.flair-feetgreaves    width: 24px;    height: 24px;    background-position: -228px -232px;}
.flair-fireelemental1    width: 43px;    height: 53px;    background-position: -626px -232px;}
.flair-food1    width: 24px;    height: 24px;    background-position: -260px -232px;}
.flair-food2    width: 24px;    height: 24px;    background-position: -4px -293px;}
.flair-food3    width: 24px;    height: 24px;    background-position: -36px -293px;}
.flair-food4    width: 24px;    height: 24px;    background-position: -68px -293px;}
.flair-gargoyle1    width: 31px;    height: 34px;    background-position: -100px -293px;}
.flair-ghast    width: 24px;    height: 24px;    background-position: -139px -293px;}
.flair-ghost    width: 24px;    height: 24px;    background-position: -171px -293px;}
.flair-ghoul    width: 24px;    height: 24px;    background-position: -203px -293px;}
.flair-github    width: 30px;    height: 30px;    background-position: -235px -293px;}
.flair-goblin    width: 24px;    height: 24px;    background-position: -273px -293px;}
.flair-goblin2    width: 24px;    height: 24px;    background-position: -305px -293px;}
.flair-goblin2v2    width: 24px;    height: 24px;    background-position: -337px -293px;}
.flair-goblinbomber    width: 26px;    height: 36px;    background-position: -369px -293px;}
.flair-goblinv2    width: 24px;    height: 24px;    background-position: -403px -293px;}
.flair-golemcrystal    width: 48px;    height: 48px;    background-position: -435px -293px;}
.flair-golemdirt    width: 48px;    height: 48px;    background-position: -491px -293px;}
.flair-golemstone    width: 48px;    height: 48px;    background-position: -547px -293px;}
.flair-gong    width: 42px;    height: 41px;    background-position: -603px -293px;}
.flair-harpy    width: 41px;    height: 32px;    background-position: -4px -342px;}
.flair-headblasthelm    width: 22px;    height: 21px;    background-position: -557px -104px;}
.flair-headcirclettelepathy    width: 24px;    height: 24px;    background-position: -53px -342px;}
.flair-headcrownofgreed    width: 24px;    height: 24px;    background-position: -85px -342px;}
.flair-headcrownofteleportation    width: 24px;    height: 24px;    background-position: -117px -342px;}
.flair-headcrownofthorns    width: 24px;    height: 24px;    background-position: -149px -342px;}
.flair-headglassjaw    width: 20px;    height: 14px;    background-position: -181px -342px;}
.flair-headhelmet    width: 24px;    height: 24px;    background-position: -209px -342px;}
.flair-headminerscap    width: 24px;    height: 24px;    background-position: -241px -342px;}
.flair-headmonocle    width: 24px;    height: 24px;    background-position: -273px -342px;}
.flair-headninjamask    width: 24px;    height: 24px;    background-position: -305px -342px;}
.flair-headsunglasses    width: 30px;    height: 24px;    background-position: -337px -342px;}
.flair-hearttransplant    width: 24px;    height: 24px;    background-position: -375px -342px;}
.flair-hellhound    width: 25px;    height: 24px;    background-position: -603px -342px;}
.flair-holywater    width: 24px;    height: 24px;    background-position: -636px -342px;}
.flair-iceelemental1    width: 43px;    height: 53px;    background-position: -53px -374px;}
.flair-janitor    width: 36px;    height: 33px;    background-position: -104px -374px;}
.flair-king    width: 25px;    height: 45px;    background-position: -148px -374px;}
.flair-kingconga    width: 58px;    height: 79px;    background-position: -181px -374px;}
.flair-kingred    width: 25px;    height: 45px;    background-position: -247px -374px;}
.flair-knight    width: 23px;    height: 28px;    background-position: -280px -374px;}
.flair-knightred    width: 23px;    height: 28px;    background-position: -311px -374px;}
.flair-leprechaun    width: 16px;    height: 24px;    background-position: -653px -136px;}
.flair-lich    width: 24px;    height: 30px;    background-position: -342px -374px;}
.flair-lordcrown    width: 24px;    height: 24px;    background-position: -374px -374px;}
.flair-merlin    width: 32px;    height: 39px;    background-position: -406px -374px;}
.flair-minotaur    width: 50px;    height: 49px;    background-position: -446px -374px;}
.flair-minotaur2    width: 50px;    height: 49px;    background-position: -504px -374px;}
.flair-misccompass    width: 24px;    height: 24px;    background-position: -562px -374px;}
.flair-misccoupon    width: 26px;    height: 21px;    background-position: -594px -374px;}
.flair-misckey    width: 24px;    height: 24px;    background-position: -628px -374px;}
.flair-misckeyglass    width: 24px;    height: 24px;    background-position: -4px -406px;}
.flair-misckeygolden    width: 24px;    height: 24px;    background-position: -374px -406px;}
.flair-miscmap    width: 24px;    height: 24px;    background-position: -562px -406px;}
.flair-miscpotion    width: 24px;    height: 24px;    background-position: -594px -406px;}
.flair-mole    width: 24px;    height: 24px;    background-position: -626px -406px;}
.flair-mommy    width: 40px;    height: 45px;    background-position: -4px -438px;}
.flair-monkey    width: 25px;    height: 24px;    background-position: -52px -438px;}
.flair-monkeymagic    width: 25px;    height: 24px;    background-position: -85px -438px;}
.flair-monkeywhite    width: 25px;    height: 24px;    background-position: -118px -438px;}
.flair-monkeyyellow    width: 25px;    height: 24px;    background-position: -247px -438px;}
.flair-mummy    width: 14px;    height: 14px;    background-position: -521px -72px;}
.flair-mushroom    width: 25px;    height: 24px;    background-position: -280px -438px;}
.flair-mushroomexploding    width: 24px;    height: 24px;    background-position: -313px -438px;}
.flair-mushroomlight    width: 24px;    height: 24px;    background-position: -345px -438px;}
.flair-mushroomsuper    width: 25px;    height: 24px;    background-position: -377px -438px;}
.flair-nightmare    width: 58px;    height: 42px;    background-position: -410px -438px;}
.flair-nightmare2    width: 58px;    height: 42px;    background-position: -476px -438px;}
.flair-npcconjurer    width: 63px;    height: 41px;    background-position: -542px -438px;}
.flair-npcpawnbroker    width: 49px;    height: 59px;    background-position: -613px -438px;}
.flair-npcpawnbrokerattack    width: 25px;    height: 24px;    background-position: -4px -505px;}
.flair-npcshriner    width: 39px;    height: 20px;    background-position: -37px -505px;}
.flair-npctransmogrifier    width: 26px;    height: 27px;    background-position: -84px -505px;}
.flair-ogre    width: 45px;    height: 48px;    background-position: -118px -505px;}
.flair-pawn    width: 15px;    height: 23px;    background-position: -402px -168px;}
.flair-pawnred    width: 15px;    height: 23px;    background-position: -425px -168px;}
.flair-pickaxe    width: 24px;    height: 24px;    background-position: -171px -505px;}
.flair-pixie    width: 24px;    height: 24px;    background-position: -203px -505px;}
.flair-poltergeist    width: 24px;    height: 24px;    background-position: -235px -505px;}
.flair-queen    width: 33px;    height: 39px;    background-position: -267px -505px;}
.flair-queenred    width: 33px;    height: 39px;    background-position: -308px -505px;}
.flair-resourcediamond    width: 24px;    height: 24px;    background-position: -349px -505px;}
.flair-resourcediamond2    width: 24px;    height: 24px;    background-position: -381px -505px;}
.flair-resourcediamond3    width: 24px;    height: 24px;    background-position: -413px -505px;}
.flair-ringbecoming    width: 22px;    height: 19px;    background-position: -151px -438px;}
.flair-ringcharisma    width: 24px;    height: 24px;    background-position: -445px -505px;}
.flair-ringcourage    width: 24px;    height: 24px;    background-position: -477px -505px;}
.flair-ringgold    width: 24px;    height: 24px;    background-position: -509px -505px;}
.flair-ringluck    width: 24px;    height: 24px;    background-position: -541px -505px;}
.flair-ringmana    width: 24px;    height: 24px;    background-position: -573px -505px;}
.flair-ringmight    width: 24px;    height: 24px;    background-position: -605px -505px;}
.flair-ringpeace    width: 24px;    height: 24px;    background-position: -637px -505px;}
.flair-ringphasing    width: 24px;    height: 24px;    background-position: -4px -537px;}
.flair-ringprotection    width: 24px;    height: 24px;    background-position: -36px -537px;}
.flair-ringregeneration    width: 24px;    height: 24px;    background-position: -171px -537px;}
.flair-ringshadows    width: 24px;    height: 24px;    background-position: -203px -537px;}
.flair-ringshielding    width: 24px;    height: 24px;    background-position: -235px -537px;}
.flair-ringwar    width: 24px;    height: 24px;    background-position: -349px -537px;}
.flair-ringwonder    width: 22px;    height: 21px;    background-position: -381px -537px;}
.flair-rook    width: 19px;    height: 26px;    background-position: -411px -537px;}
.flair-rookred    width: 19px;    height: 26px;    background-position: -438px -537px;}
.flair-sarcophagus    width: 24px;    height: 24px;    background-position: -465px -537px;}
.flair-sarcophagus2    width: 24px;    height: 24px;    background-position: -497px -537px;}
.flair-sarcophagus3    width: 24px;    height: 24px;    background-position: -529px -537px;}
.flair-scrollblack    width: 24px;    height: 24px;    background-position: -561px -537px;}
.flair-scrollbrown    width: 24px;    height: 24px;    background-position: -593px -537px;}
.flair-scrollgreen    width: 24px;    height: 24px;    background-position: -625px -537px;}
.flair-scrollmagenta    width: 24px;    height: 24px;    background-position: -4px -569px;}
.flair-scrollorange    width: 24px;    height: 24px;    background-position: -36px -569px;}
.flair-scrollpurple    width: 24px;    height: 24px;    background-position: -68px -569px;}
.flair-scrollred    width: 24px;    height: 24px;    background-position: -100px -569px;}
.flair-scrollteal    width: 24px;    height: 24px;    background-position: -132px -569px;}
.flair-scrolltransmute    width: 24px;    height: 24px;    background-position: -164px -569px;}
.flair-scrollwhite    width: 24px;    height: 24px;    background-position: -196px -569px;}
.flair-scrollyellow    width: 24px;    height: 24px;    background-position: -228px -569px;}
.flair-shopkeeper    width: 47px;    height: 38px;    background-position: -260px -569px;}
.flair-shopkeeper2    width: 47px;    height: 38px;    background-position: -315px -569px;}
.flair-shopkeeper3    width: 47px;    height: 38px;    background-position: -465px -569px;}
.flair-shopkeeper4    width: 47px;    height: 38px;    background-position: -520px -569px;}
.flair-shopkeeperghost    width: 47px;    height: 38px;    background-position: -575px -569px;}
.flair-shopkeepermonstrous    width: 47px;    height: 38px;    background-position: -4px -615px;}
.flair-shovelbasic    width: 24px;    height: 24px;    background-position: -370px -569px;}
.flair-shovelcrystal    width: 24px;    height: 24px;    background-position: -630px -569px;}
.flair-shovelglass    width: 24px;    height: 24px;    background-position: -59px -601px;}
.flair-shovelobsidian    width: 26px;    height: 26px;    background-position: -91px -601px;}
.flair-shovelshard    width: 24px;    height: 24px;    background-position: -125px -601px;}
.flair-shoveltitanium    width: 24px;    height: 24px;    background-position: -157px -601px;}
.flair-shovemonster    width: 26px;    height: 26px;    background-position: -189px -601px;}
.flair-skeleton    width: 24px;    height: 25px;    background-position: -223px -601px;}
.flair-skeletonblack    width: 27px;    height: 25px;    background-position: -370px -601px;}
.flair-skeletonknight    width: 36px;    height: 42px;    background-position: -405px -601px;}
.flair-skeletonknight2    width: 36px;    height: 42px;    background-position: -630px -601px;}
.flair-skeletonknight3    width: 36px;    height: 42px;    background-position: -676px -4px;}
.flair-skeletonmageblack    width: 21px;    height: 27px;    background-position: -673px -54px;}
.flair-skeletonmagewhite    width: 21px;    height: 27px;    background-position: -671px -89px;}
.flair-skeletonmageyellow    width: 21px;    height: 27px;    background-position: -677px -124px;}
.flair-skeletonspearman    width: 24px;    height: 25px;    background-position: -677px -159px;}
.flair-skeletonyellow    width: 27px;    height: 25px;    background-position: -658px -192px;}
.flair-sleepinggoblin    width: 24px;    height: 24px;    background-position: -677px -225px;}
.flair-sleepinggoblinv2    width: 24px;    height: 24px;    background-position: -677px -257px;}
.flair-slimeblue    width: 26px;    height: 25px;    background-position: -677px -289px;}
.flair-slimefire    width: 26px;    height: 26px;    background-position: -668px -322px;}
.flair-slimegreen    width: 26px;    height: 26px;    background-position: -668px -356px;}
.flair-slimeice    width: 26px;    height: 26px;    background-position: -660px -390px;}
.flair-slimeorange    width: 26px;    height: 26px;    background-position: -670px -424px;}
.flair-spellbomb    width: 26px;    height: 24px;    background-position: -670px -458px;}
.flair-spellcharm    width: 27px;    height: 26px;    background-position: -670px -490px;}
.flair-spellfireball    width: 24px;    height: 24px;    background-position: -669px -524px;}
.flair-spellfreezeenemies    width: 24px;    height: 27px;    background-position: -662px -556px;}
.flair-spellheal    width: 25px;    height: 24px;    background-position: -674px -591px;}
.flair-spellshield    width: 24px;    height: 24px;    background-position: -255px -623px;}
.flair-spelltransmute    width: 27px;    height: 26px;    background-position: -287px -623px;}
.flair-spider    width: 21px;    height: 20px;    background-position: -693px -192px;}
.flair-tarmonster    width: 24px;    height: 24px;    background-position: -322px -623px;}
.flair-tehurn    width: 24px;    height: 28px;    background-position: -449px -623px;}
.flair-torch1    width: 24px;    height: 24px;    background-position: -481px -623px;}
.flair-torch2    width: 24px;    height: 24px;    background-position: -513px -623px;}
.flair-torch3    width: 24px;    height: 24px;    background-position: -545px -623px;}
.flair-torchforesight    width: 24px;    height: 24px;    background-position: -577px -623px;}
.flair-torchglass    width: 24px;    height: 27px;    background-position: -674px -623px;}
.flair-torchinfernal    width: 24px;    height: 24px;    background-position: -59px -658px;}
.flair-torchobsidian    width: 24px;    height: 27px;    background-position: -91px -658px;}
.flair-trainer    width: 26px;    height: 24px;    background-position: -123px -658px;}
.flair-trainingsarcophagus    width: 24px;    height: 24px;    background-position: -157px -658px;}
.flair-trapchestlockedv4    width: 24px;    height: 26px;    background-position: -189px -658px;}
.flair-trapchestv4    width: 24px;    height: 26px;    background-position: -221px -658px;}
.flair-trapchestwhitev4    width: 24px;    height: 26px;    background-position: -253px -658px;}
.flair-trollolo    width: 49px;    height: 44px;    background-position: -354px -651px;}
.flair-undeadelf    width: 24px;    height: 24px;    background-position: -285px -658px;}
.flair-undeadsanta    width: 52px;    height: 46px;    background-position: -609px -651px;}
.flair-wardrum    width: 26px;    height: 28px;    background-position: -317px -658px;}
.flair-warlock    width: 26px;    height: 31px;    background-position: -411px -658px;}
.flair-weaponblunderbuss    width: 25px;    height: 36px;    background-position: -481px -658px;}
.flair-weaponbow    width: 25px;    height: 26px;    background-position: -514px -658px;}
.flair-weaponbowblood    width: 25px;    height: 26px;    background-position: -547px -658px;}
.flair-weaponbowglass    width: 25px;    height: 26px;    background-position: -669px -658px;}
.flair-weaponbowgolden    width: 25px;    height: 26px;    background-position: -4px -692px;}
.flair-weaponbowobsidian    width: 25px;    height: 26px;    background-position: -37px -692px;}
.flair-weaponbowtitanium    width: 25px;    height: 26px;    background-position: -123px -692px;}
.flair-weaponbroadsword    width: 24px;    height: 24px;    background-position: -156px -692px;}
.flair-weaponbroadswordblood    width: 24px;    height: 24px;    background-position: -188px -692px;}
.flair-weaponbroadswordglass    width: 24px;    height: 24px;    background-position: -220px -692px;}
.flair-weaponbroadswordgolden    width: 24px;    height: 24px;    background-position: -252px -692px;}
.flair-weaponbroadswordobsidian    width: 26px;    height: 26px;    background-position: -445px -692px;}
.flair-weaponbroadswordtitanium    width: 24px;    height: 24px;    background-position: -284px -692px;}
.flair-weaponcat    width: 24px;    height: 24px;    background-position: -514px -692px;}
.flair-weaponcatblood    width: 24px;    height: 24px;    background-position: -546px -692px;}
.flair-weaponcatglass    width: 24px;    height: 24px;    background-position: -669px -692px;}
.flair-weaponcatgold    width: 24px;    height: 24px;    background-position: -720px -4px;}
.flair-weaponcatobsidian    width: 25px;    height: 24px;    background-position: -720px -36px;}
.flair-weaponcattitanium    width: 24px;    height: 24px;    background-position: -702px -68px;}
.flair-weaponcrossbow    width: 27px;    height: 27px;    background-position: -706px -100px;}
.flair-weaponcrossbowblood    width: 27px;    height: 27px;    background-position: -709px -135px;}
.flair-weaponcrossbowglass    width: 27px;    height: 27px;    background-position: -709px -220px;}
.flair-weaponcrossbowgolden    width: 27px;    height: 27px;    background-position: -711px -255px;}
.flair-weaponcrossbowobsidian    width: 27px;    height: 27px;    background-position: -711px -290px;}
.flair-weaponcrossbowtitanium    width: 27px;    height: 27px;    background-position: -702px -325px;}
.flair-weapondagger    width: 24px;    height: 24px;    background-position: -722px -170px;}
.flair-weapondaggerblood    width: 24px;    height: 24px;    background-position: -702px -360px;}
.flair-weapondaggerfrost    width: 24px;    height: 24px;    background-position: -694px -392px;}
.flair-weapondaggerglass    width: 24px;    height: 24px;    background-position: -704px -424px;}
.flair-weapondaggergolden    width: 24px;    height: 24px;    background-position: -704px -456px;}
.flair-weapondaggerjeweled    width: 24px;    height: 24px;    background-position: -705px -488px;}
.flair-weapondaggerobsidian    width: 24px;    height: 24px;    background-position: -705px -520px;}
.flair-weapondaggerphasing    width: 24px;    height: 24px;    background-position: -701px -552px;}
.flair-weapondaggershard    width: 24px;    height: 24px;    background-position: -707px -584px;}
.flair-weapondaggertitanium    width: 24px;    height: 24px;    background-position: -707px -616px;}
.flair-weaponflail    width: 24px;    height: 24px;    background-position: -706px -648px;}
.flair-weaponflailblood    width: 24px;    height: 24px;    background-position: -702px -680px;}
.flair-weaponflailglass    width: 24px;    height: 24px;    background-position: -70px -712px;}
.flair-weaponflailgold    width: 24px;    height: 24px;    background-position: -316px -712px;}
.flair-weaponflailobsidian    width: 24px;    height: 24px;    background-position: -348px -712px;}
.flair-weaponflailtitanium    width: 24px;    height: 24px;    background-position: -380px -712px;}
.flair-weaponflower    width: 24px;    height: 24px;    background-position: -412px -712px;}
.flair-weapongoldenlute    width: 30px;    height: 25px;    background-position: -578px -712px;}
.flair-weaponlongsword    width: 24px;    height: 24px;    background-position: -479px -712px;}
.flair-weaponlongswordblood    width: 24px;    height: 24px;    background-position: -616px -712px;}
.flair-weaponlongswordglass    width: 24px;    height: 24px;    background-position: -701px -712px;}
.flair-weaponlongswordgolden    width: 24px;    height: 24px;    background-position: -752px -4px;}
.flair-weaponlongswordobsidian    width: 26px;    height: 27px;    background-position: -753px -36px;}
.flair-weaponlongswordtitanium    width: 24px;    height: 24px;    background-position: -741px -71px;}
.flair-weaponmaster    width: 48px;    height: 34px;    background-position: -4px -744px;}
.flair-weaponrapier    width: 26px;    height: 27px;    background-position: -744px -103px;}
.flair-weaponrapierblood    width: 26px;    height: 27px;    background-position: -744px -202px;}
.flair-weaponrapierglass    width: 26px;    height: 27px;    background-position: -746px -237px;}
.flair-weaponrapiergolden    width: 26px;    height: 27px;    background-position: -746px -272px;}
.flair-weaponrapierobsidian    width: 26px;    height: 27px;    background-position: -746px -307px;}
.flair-weaponrapiertitanium    width: 26px;    height: 27px;    background-position: -737px -342px;}
.flair-weaponrifle    width: 25px;    height: 37px;    background-position: -754px -138px;}
.flair-weaponspear    width: 24px;    height: 24px;    background-position: -734px -377px;}
.flair-weaponspearblood    width: 24px;    height: 24px;    background-position: -736px -409px;}
.flair-weaponspearglass    width: 24px;    height: 24px;    background-position: -736px -441px;}
.flair-weaponspeargolden    width: 24px;    height: 24px;    background-position: -52px -473px;}
.flair-weaponspearobsidian    width: 24px;    height: 24px;    background-position: -84px -473px;}
.flair-weaponspeartitanium    width: 24px;    height: 24px;    background-position: -116px -473px;}
.flair-weaponwhip    width: 24px;    height: 24px;    background-position: -148px -473px;}
.flair-weaponwhipblood    width: 24px;    height: 24px;    background-position: -180px -473px;}
.flair-weaponwhipglass    width: 24px;    height: 24px;    background-position: -212px -473px;}
.flair-weaponwhipgolden    width: 24px;    height: 24px;    background-position: -244px -473px;}
.flair-weaponwhipobsidian    width: 24px;    height: 24px;    background-position: -276px -473px;}
.flair-weaponwhiptitanium    width: 24px;    height: 24px;    background-position: -308px -473px;}
.flair-wight    width: 24px;    height: 24px;    background-position: -340px -473px;}
.flair-wraith    width: 24px;    height: 24px;    background-position: -372px -473px;}
.flair-yeti    width: 68px;    height: 40px;    background-position: -60px -744px;}
.flair-zombie    width: 24px;    height: 25px;    background-position: -737px -473px;}
.flair-zombiev2    width: 24px;    height: 25px;    background-position: -737px -506px;}
.flair-zombiev3    width: 24px;    height: 25px;    background-position: -737px -539px;}
.flair-zombiev4    width: 24px;    height: 25px;    background-position: -739px -572px;}
